<h1>About</h1>
<p>
	Budeal is really a cool project I'm working on since March 2013.

	I'm doing it while learning how to code with 
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> and 
	<%= link_to "Codecademy", "http://codecademy.com" %>
</p>
