<div class="center hero-unit">
	<h1>Budeal - Alpha</h1>
	<p>
		This is a very alpha for my project  
		<a href="http://budeal.com"> Budeal.com</a>. 
		
	</p>
	<p>
		Be among the very first users:
		</br><a href="http://budeal.com" class= "btn btn-primary btn-large"> Sign Up Now ! </a>
	</p>
</div>